In [1]:
import pandas as pd
import re

In [3]:
df = pd.read_csv('../datafile/jincheng_corals', sep=',')

In [10]:
df

,sample,spp,island,site,Fam78_CA,Fam78_CA.1,Fam78_CA.2,Fam78_CA.3
0,19,A. hyacinthus,Pohnpei,south reef (Roj island),170,172,174,0
1,23,A. hyacinthus,Pohnpei,south reef (Roj island),172,174,0,0
2,24,A. hyacinthus,Pohnpei,south reef (Roj island),170,176,0,0
3,26,A. hyacinthus,Pohnpei,south reef (Roj island),172,174,0,0
4,27,A. hyacinthus,Pohnpei,south reef (Roj island),156,176,0,0
5,30,A. hyacinthus,Pohnpei,south reef (Roj island),170,176,0,0
6,31,A. hyacinthus,Pohnpei,south reef (Roj island),172,174,0,0
7,34,A. hyacinthus,Pohnpei,south reef (Roj island),170,176,0,0

In [4]:
siteSet = set()
coralDict = dict()

In [13]:
for column in list(df.columns):
    if re.match('^ Fam', column):
        for index, row in df.iterrows():
            sample = row['sample']
            site = row[column]
            if site != 0:
                siteSet.add(site)
                try:
                    coralDict[site].append(sample)
                except KeyError:
                    coralDict[site] = [sample]
        df.drop(columns = column, inplace = True)

In [14]:
siteSet

{156, 170, 172, 174, 176}

In [15]:
coralDict

{170: [19, 24, 30, 34],
 172: [23, 26, 31, 19],
 156: [27],
 174: [23, 26, 31, 19],
 176: [24, 27, 30, 34]}

In [16]:
siteList = list(siteSet)

In [17]:
siteList.sort()

In [18]:
coralDict

{170: [19, 24, 30, 34],
 172: [23, 26, 31, 19],
 156: [27],
 174: [23, 26, 31, 19],
 176: [24, 27, 30, 34]}

In [21]:
for site in siteList:
    df[site] = 0
    df.loc[df['sample'].isin(coralDict[site]), site] = site

In [22]:
df

,sample,spp,island,site,156,170,172,174,176
0,19,A. hyacinthus,Pohnpei,south reef (Roj island),0,170,172,174,0
1,23,A. hyacinthus,Pohnpei,south reef (Roj island),0,0,172,174,0
2,24,A. hyacinthus,Pohnpei,south reef (Roj island),0,170,0,0,176
3,26,A. hyacinthus,Pohnpei,south reef (Roj island),0,0,172,174,0
4,27,A. hyacinthus,Pohnpei,south reef (Roj island),156,0,0,0,176
5,30,A. hyacinthus,Pohnpei,south reef (Roj island),0,170,0,0,176
6,31,A. hyacinthus,Pohnpei,south reef (Roj island),0,0,172,174,0
7,34,A. hyacinthus,Pohnpei,south reef (Roj island),0,170,0,0,176

In [23]:
df.to_csv('../datafile/jincheng_output.csv', index = False)